extends layout

block content
  div(class="search-bar")
    input(type="text", placeholder="Search, but need to change text color", value="IN-PROGRESS... AAAAAAAAAAAA")
    button Search

  each defs, word in dict
    div(class="definition")
      h1= word 
      each def, key in defs
        i= key 
        div
          p= def