extends layout

block content
  h1= title
  div(class="search-bar")
    input(type="text", placeholder="Search")
    button Search

  div(class="definition")
    h1 Rights
    i Noun
    div 
      p An entitlement Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate accusamus, illo perferendis aspernatur voluptas placeat, expedita non eum iure dolorem ipsum eligendi cum, itaque natus corrupti perspiciatis quaerat ullam sed.
    i Verb
    div 
      p Something that everybody should be Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate accusamus, illo perferendis aspernatur voluptas placeat, expedita non eum iure dolorem ipsum eligendi cum, itaque natus corrupti perspiciatis quaerat ullam sed.

