:root {
  --color-fg: #011627ff;
  --color-bg: #f6f7f8ff;
  --color-theme: #20a4f3ff;
  --color-red: #ff3366ff;
  --color-light: #2ec4b6ff;
  --font-std-size: 16px;
  --navbar-size: 25vw
}

body {
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-fg);
  font: var(--font-std-size) Helvetica, Arial, sans-serif;
}

nav {
  height: 100%;
  width: var(--navbar-size); 
  position: fixed; 
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111; 
  overflow-x: hidden;
}
nav a {
  padding: calc(var(--font-std-size)/2);
  text-decoration: none;
  display: block;
}
nav a:hover {
  font-size: calc(var(--font-std-size)*1.25);
  border: 1px var(--color-theme) solid;
  cursor: pointer;
}

main {
  margin-left: var(--navbar-size); /* Same as the width of the sidebar */
}

/* Special devices rules */
/* No navbar for small screens */
@media screen and (max-width: 400px) {
  nav {
    display: none; 
  }
  main {
    margin-left: 0;
  }
}

/* Elements */
a {
  color: var(--color-light);
}

button {
  outline: none;
  border: none;
  border-radius: 0;
  background-color: var(--color-light);
  color: var(--color-fg);
  font-size: var(--font-std-size);
}
button:hover {
  background-color: var(--color-red);
}

input {
  outline: none;
  border: none;
  background-color: var(--color-theme);
  color: var(--color-fg);
  font-size: var(--font-std-size);
}

/* Classes */
/* Definition */
.definition {
  padding: var(--font-std-size);
  border: 5px var(--color-theme) solid;
}
.definition div {
  border-left: var(--font-std-size) var(--color-light) solid;
}
.definition h1 {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--color-light);
}
.definition div p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: var(--font-std-size);
}

/* Search bar */
.search-bar button {
  padding: var(--font-std-size);
}
.search-bar input {
  padding: var(--font-std-size);
  width: 50%;
  background-color: var(--color-red);
}